.Delivery {
	display: flex;
	width: 100%;
	max-width: 1690px;
	margin: 0 auto;
	padding: 0 10px;
	justify-content: space-between;
	&Info {
		padding-top: 40px;
		padding-bottom: 180px;
		h1 {
			font-size: 42px;
			font-weight: 500;
		}
		p {
			width: 579px;
			font-size: 20px;
			font-weight: 400;
			line-height: 140%;
		}
	}

	.starText {
		display: flex;
		padding-top: 64px;
		img {
			margin-right: 19px;
		}
		p {
			font-size: 16px;
			font-weight: 300;
			line-height: 140%;
		}
	}

	.Address {
		display: flex;
		justify-content: space-between;
		width: 700px;
		margin-top: 85px;
		&Box {
			display: flex;
			width: 340px;
			height: 200px;
			background-color: #f8f8f8;
			flex-direction: column;
			align-items: center;
			text-align: center;
			justify-content: center;
			h4 {
				padding-bottom: 24px;
				color: #393838;
				font-size: 18px;
				font-weight: 500;
			}
			p {
				color: #848692;
				font-size: 16px;
				font-weight: 400;
			}
		}
	}
	.mapContainer {
		width: 950px !important;
		height: 980px !important;
	}
	&Map {
		position: relative;
		.deliveryBtn {
			position: absolute;
			top: 40px;
			left: 40px;
			z-index: 1;
			padding: 12px 14px;
			border-radius: 4px;
			background: #27ae60;

			color: #fff;
			font-family: Montserrat;
			font-size: 18px;
			font-weight: 700;
			line-height: 140%;
			&:active {
				transform: scale(0.9);
			}
			&Active {
				background-color: #848692;
			}
		}
	}
}

@media (max-width: 375px) {
	.Delivery {
		display: flex;
		width: 100%;
		padding: 0;
		margin: 0;
		max-width: 375px;
		flex-direction: column;
		&Info {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 40px;
			padding-bottom: 30px;
			h1 {
				font-size: 24px;
				font-weight: 500;
				padding-bottom: 23px;
			}
			p {
				width: 335px;
				font-size: 14px;
				font-weight: 400;
				line-height: 140%;
			}
		}

		.starText {
			display: flex;
			justify-content: center;
			padding-top: 64px;
			img {
				margin-right: 19px;
			}
			p {
				max-width: 292px;
				font-size: 16px;
				font-weight: 300;
				line-height: 140%;
			}
		}

		.Address {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: space-between;
			max-width: 375px;
			margin-top: 30px;
			&Box {
				display: flex;
				width: 340px;
				height: 200px;
				background-color: #f8f8f8;
				flex-direction: column;
				align-items: center;
				text-align: center;
				justify-content: center;
				&:not(:last-child) {
					margin-bottom: 15px;
				}
				h4 {
					padding-bottom: 24px;
					color: #393838;
					font-size: 18px;
					font-weight: 500;
				}
				p {
					color: #848692;
					font-size: 16px;
					font-weight: 400;
				}
			}
		}
		.mapContainer {
			width: 375px !important;
			height: 388px !important;
			padding: 0 5px;
		}
		&Map {
			position: relative;
			.deliveryBtn {
				position: absolute;
				top: 40px;
				left: 40px;
				z-index: 1;
				padding: 12px 14px;
				border-radius: 4px;
				background: #27ae60;

				color: #fff;
				font-family: Montserrat;
				font-size: 18px;
				font-weight: 700;
				line-height: 140%;
				&:active {
					transform: scale(0.9);
				}
				&Active {
					background-color: #848692;
				}
			}
		}
	}
}
