.Materials {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 10px;
	margin-bottom: 80px;
	h1 {
		padding-bottom: 60px;
		font-size: 42px;
		font-weight: 500;
	}
	.cards {
		display: flex;
		justify-content: space-between;
	}
	.card {
		cursor: pointer;
		position: relative;
		width: 340px;
		height: 524px;
		&:hover {
			bottom: 20px;
		}
		img {
			border-radius: 8px;
		}
		p {
			position: absolute;
			bottom: 40px;
			left: 40px;
			color: #fff;
			font-size: 40px;
			font-weight: 700;
		}
	}
}

@media (max-width: 375px) {
	.Materials {
		max-width: 100%;
		padding: 0 20px;
		h1 {
			padding-left: 40px;
			padding-bottom: 25px;
			font-size: 24px;
			font-weight: 500;
		}
		.cards {
			padding-left: 45px;
			display: flex;
			flex-direction: column;
		}
		.card {
			cursor: pointer;
			position: relative;
			width: 250px;
			height: 290px;
			margin-bottom: 25px;

			&:not(:last-child) {
				margin-bottom: 25px;
			}
			&:hover {
				bottom: 20px;
			}
			img {
				width: 250px;
				height: 290px;
				border-radius: 8px;
			}
			p {
				position: absolute;
				bottom: 25px;
				left: 25px;
				color: #fff;
				font-size: 24px;
				font-weight: 700;
			}
		}
	}
}
