.Footer {
	width: 100%;
	max-width: 1690px;
	margin: 0 auto;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.politic {
		display: flex;
		align-items: center;
		p {
			opacity: 0.6;
			padding-left: 50px;
			color: #fff;
			font-size: 12px;
			font-weight: 400;
			line-height: 120%;
		}
	}
	.links {
		a {
			color: #fff;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 120%;

			&:not(:last-child) {
				padding-right: 50px;
			}
		}
	}

	.logoLinks {
		display: flex;
		align-items: center;
		a:not(:last-child) {
			padding-right: 25px;
		}
		h3 {
			color: #fff;
			font-family: Montserrat;
			font-size: 12px;
			font-weight: 400;
			padding: 15px 30px;
			border: 1px solid #fff;
		}
	}
}

@media (max-width: 375px) {
	.Footer {
		width: 100%;
		max-width: 375px;
		height: 165px;
		padding: 0 10px;
		display: flex;
		position: relative;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
		.politic {
			display: flex;
			align-items: center;
			flex-direction: column;
			p {
				opacity: 0.6;
				color: #fff;
				font-size: 12px;
				font-weight: 400;
				line-height: 120%;
			}
			img {
				width: 109px;
				height: 43px;
			}
		}
		.links {
			a {
				color: #fff;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 120%;

				&:not(:last-child) {
					padding-right: 50px;
				}
			}
		}

		.logoLinks {
			position: absolute;
			display: flex;
			width: 310px;
			align-items: center;
			height: 24px;
			left: 10px;
			bottom: 81px;

			a:not(:last-child) {
				padding-right: 15px;
			}
			a {
				img {
					width: 30px;
				}
			}
			h3 {
				color: #fff;
				font-family: Montserrat;
				font-size: 14px;
				font-weight: 400;
				padding: 15px 30px;
				border: 1px solid #fff;
			}
		}
	}
}
