.bgImg {
	background: url(headerBg.jpg);
	background-repeat: no-repeat;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(35, 35, 35, 0.7) 100%),
		url(headerBg.jpg);
	background-size: cover;

	background-position: center center;
}

.bgFooter {
	background-color: #424141;
	position: relative;
	bottom: 0;
}
